doctype html
html
	head 
		title AutoRobot
		link(type="text/css" rel="stylesheet" href="./../../static/css/main.css")
		script(type="text/javascript" src="./../../app/index.js" async)
	body
		#root.container.flex.root

	
