#scriptList {
	flex-direction: column;
	order: 0;
	color: white;
	background-color:#161616;
	width:165px;
	min-width:165px;
	margin: 0;
	padding: 0;
	height:100%;
	div {
		
	}
	ul {
		margin: 0;
		padding: 0;
		list-style:none;
	}
}

#scriptList > div {
	justify-content:space-around;
	button {
	    width: 30px;
	    height: 30px;
	    align-self: center;
	    color: black;
	}
}

